@charset "UTF-8";

body{
  background-color: #fbf9fb;
  background-repeat:repeat;
  background-position:center;
  background-size:200%;
  background-attachment:fixed;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
h1{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}
h2{
  font-size: 22px;
  margin-top: 1px;
  margin-bottom: 25px;
  color: #000000;
}
.p1{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:16px;
}

a:link {
  color: rgb(14, 117, 61);
}
  
  /* visited link */
a:visited {
  color: #000000;
}
  
  /* mouse over link */
a:hover {
  color: rgb(82, 200, 255);
}
  
  /* selected link */
a:active {
  color: yellow;
}

.fab{
  padding:8px;
}

.fa-linkedin{
  color:#0073af;
}
.fa-github{
  color:#495057;
}
.fa-whatsapp{
  color:#24cc63;
}
.fa-behance{
  color:#5c7cfa;
}
.fa-instagram{
  color:#ed8128;
}
.fa-facebook{
  color:#3a5794;
}


/* Flex Container */

.column {
	flex-direction: column;
}
.container {
	max-width: 600px;
	min-width: 25px;
	margin: 0 auto;
	display: flex;
/*	border: 1px solid #ccc; */
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
/*	background: tomato; */
	text-align: center;
	font-size: 1.5em;
}
.btn-linkedin{
  max-width: 35rem;
  min-width: 23rem;
  min-height: 5rem;
  width: 95%;
  
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  color: #2e2c34;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-linkedin:hover {
  background: white;
  color: #0073af;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.btn-linkedin:active {
  background: white;
  color: rgb(82, 200, 255);
}

.btn-linkedin:visited {
  background: white;
  color: rgb(82, 200, 255);
}

.btn-github{
  max-width: 35rem;
  min-width: 23rem;
  min-height: 5rem;
  width: 95%;
  
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  color: #2e2c34;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-github:hover {
  background: white;
  color: #7c7c7c;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.btn-whatsapp{
  max-width: 35rem;
  min-width: 23rem;
  min-height: 5rem;
  width: 95%;
  
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  color: #2e2c34;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-whatsapp:hover {
  background: white;
  color: #24cc63;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.btn-behance{
  max-width: 35rem;
  min-width: 23rem;
  min-height: 5rem;
  width: 95%;
  
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  color: #2e2c34;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-behance:hover {
  background: white;
  color: #5c7cfa;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.btn-instagram{
  max-width: 35rem;
  min-width: 23rem;
  min-height: 5rem;
  width: 95%;
  
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  color: #2e2c34;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-instagram:hover {
  background: white;
  color: #ed8128;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.btn-facebook{
  max-width: 35rem;
  min-width: 23rem;
  min-height: 5rem;
  width: 95%;
  
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  color: #2e2c34;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn-facebook:hover {
  background: white;
  color: #3a5794;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
iframe{
  max-width: 100%;
  border-radius: 10px;
}
.btn-back{
  background-color:#000000;
  color: #ffffff;
  font-family: montserrat;
  width:150px;
  height: 40px;
  border:2px rgb(255, 255, 255) solid;
  border-radius:5px 15px;
}
.btn-back:hover{
  background-color:#ffffff;
  color: #000000;
  font-family: montserrat;
  width:150px;
  height: 40px;
  border:2px rgb(0, 0, 0) solid;
  border-radius:5px 15px;
  cursor: pointer;
}
