@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
  /*background-color: #fbf9fb;
  background-repeat:repeat;*/
  background-position:center;
  background-size:200%;
  background-attachment:fixed;
  font-family: 'Play', sans-serif;
}

body{
  background: url(imagens/bg.svg) no-repeat;
}
h1{
  font-weight: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0099ff;
}
h4{
  margin-top: 1px;
  margin-bottom: 25px;
  color:  #0099ff;
}
p{
  text-align: center;
	display: flex;
  font-size:16px;
  margin: 0;
  color:  #000000;
}


a:link {
  color: rgb(14, 117, 61);
}
  
  /* visited link */
/*
  a:visited {
  color: #000000;
}
*/ 
  /* mouse over link */
a:hover {
  color: rgb(82, 200, 255);
}
  
  /* selected link */
a:active {
  color: yellow;
}

.fab{
  padding:8px;
}

.fa-linkedin{
  color:#0073af;
}
.fa-github{
  color:#495057;
}
.fa-whatsapp{
  color:#24cc63;
}
.fa-behance{
  color:#5c7cfa;
}
.fa-instagram{
  color:#ed8128;
}
.fa-facebook{
  color:#3a5794;
}


/* Flex Container type column */

.container {
  flex-direction: column;
  max-width: 600px;
  min-width: 30px;
	margin: 0 auto;
  display: flex;
/*	border: 1px solid #ccc; */
}
/* Flex Item */
.item, .bio {
  /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
  /*	background-color: tomato; */
	flex: 1;
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}



#bnt {
  max-width: 35rem;
  min-width: 13rem;
  min-height: 5rem;
  width: 95%;
}

.linkedin {
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.linkedin:hover {
  background: white;
  color: #0073af;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.linkedin:active {
  background: white;
  color: rgb(82, 200, 255);
}

.linkedin:visited {
  background: white;
  color: rgb(82, 200, 255);
}


.github{
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.github:hover {
  background: white;
  color: #7c7c7c;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.whatsapp{
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.whatsapp:hover {
  background: white;
  color: #24cc63;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.behance{
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.behance:hover {
  background: white;
  color: #5c7cfa;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.instagram{
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.instagram:hover {
  background: white;
  color: #ed8128;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.facebook{
  font-family: 'Montserrat', sans-serif;  
  font-size: 21px;  
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px 50px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.facebook:hover {
  background: white;
  color: #3a5794;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
iframe{
  max-width: 100%;
  border-radius: 10px;
}
.btn-back{
  background-color:#000000;
  color: #ffffff;
  font-family: montserrat;
  width:150px;
  height: 40px;
  border:2px rgb(255, 255, 255) solid;
  border-radius:5px 15px;
}
.btn-back:hover{
  background-color:#ffffff;
  color: #000000;
  font-family: montserrat;
  width:150px;
  height: 40px;
  border:2px rgb(0, 0, 0) solid;
  border-radius:5px 15px;
  cursor: pointer;
}
